.contact-form-wrapper {
  background-color: #595959;
  
  .contact-form {
    max-width: 980px;
    width: 100%;
    margin: auto;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    &.completed {
      animation: remove 1s ease-out forwards;
      @keyframes remove {
        0% {
          right: 0;
          max-height: 1000px;
        }

        // 20% {
        //   max-height: 0;
        // }

        100% {
          right: -2000px;
          max-height: 0;
          display: none;
          visibility: hidden;
        }
      }
    }

    &-top {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .form-item {
      margin-right: 20px;
      margin-bottom: 10px;
      
      &:hover {

        .form-item-label {
          color: #fff;
        }
      }

      &-label {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 1px;
        transition: .5s linear all;
      }

      input {
        background: transparent !important;
        outline: 0;
        border-width: 0;
        transition: .5s linear all;
        color: rgba(255, 255, 255, 0.7);
        padding: 0 5px 3px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }

      input:active,
      input:focus {
        color: #fff;
        border-bottom-color: #fff;
      }
    }

  }

  .contact-form-describe {
    width: 100%;

    .contact-form-description {
      outline: 0;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      color: rgba(255, 255, 255, 0.7);
      padding: 10px 20px;
      width: 100%;
      max-width: 420px;
      background: transparent !important;
      margin: 10px 0px;

      &:focus,
      &:active {
        color: #fff;
      }
    }
  }

  .respond {
    color: #fff;
    height: 45px;
    margin-top: 10px;
    display: flex;
    max-width: 980px;
    width: 100%;
    margin: auto;
    padding: 0px 35px;
    align-items: flex-end;
    font-size: 22px;
    margin-bottom: 0;

    > * {
      margin-right: 15px;
      margin-bottom: 0;
      line-height: 22px;
    }
  }
}


// CSS for cool looking button 

.cool-button {
  position: relative;
  z-index: 10;
  cursor: pointer;
  
  &:hover {
    .button-text {
      color: #fff;
    }
  }
  .button-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    outline: 0;
    border-width: 0;
    z-index: 0;
    transition: all .5s linear;
  }

  .svg-wrapper {
    z-index: 10;
  }
}
/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  /* Start color */
  stroke: rgba(255, 255, 255, 0.7);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text .button-text {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  /* End Color */
  stroke: #FFF;
}