.contacts-block-wrapper {
	background-color: #595959;
	display: flex;
	justify-content: center;

	.contacts-block {
		color: rgba(255, 255, 255, 0.7);
		padding-bottom: 48px;
		width: 100%;
		max-width: 980px;
		margin: auto;
		padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media (max-width: 980px) {
      flex-flow: column;
    }

    &-title {
      margin-bottom: 48px;
      font-size: 20px;
      padding-left: 0;
      color: #fff;
      margin-right: auto;
    }

		.contacts {
			padding-bottom: 48px;
			display: flex;
			justify-content: space-between;
			max-width: 700px;
			margin-right: auto;

			> * {
				padding-left: 15px;
				color: inherit;

				&:first-child {
					padding-left: 0;
				}
			}

			> a:hover {
				text-decoration: none;
				color: #fff;
			}

			@media (max-width: 980px) {
				flex-flow: column;

				> * {
					padding-left: 0;
					padding-top: 10px;

					&:first-child {
						padding-top: 0;
					}
				}
			}
		}

		.socials {
			height: 20px;
      
      .social,
      .icon {
        height: 20px;
        width: 20px;
      }

			.social {
				margin-right: 20px;
				display: inline-block;

				.instagram {
					background: url('../../static/img/insta.svg') no-repeat center;
				}

				.instagram-hovered {
					background: url('../../static/img/insta-hover.svg') no-repeat center;
          display: none;
				}

				.facebook {
					background: url('../../static/img/facebook.svg') no-repeat center;
				}

				.facebook-hovered {
					background: url('../../static/img/facebook-hover.svg') no-repeat center;
          display: none;
				}

				.twitter {
					background: url('../../static/img/twitter.svg') no-repeat center;
				}

				.twitter-hovered {
					background: url('../../static/img/twitter-hover.svg') no-repeat center;
          display: none;
        }
        
        &:hover {
          .twitter-hovered,
          .instagram-hovered,
          .facebook-hovered {
            display: inline-block;
          }

          .instagram,
          .facebook,
          .twitter {
            display: none;
          }
        }
			}

			@media (max-width: 980px) {
				height: 40px;

				.social {
					margin-right: 40px;
				}

				.social,
				.icon {
					height: 40px;
					width: 40px;
				}
			}
		}
	}
}
