
.section-title-wrapper {
  background-color: #595959;
  display: flex;
  
  .section-title {
    max-width: 980px;
    width: 100%;
    margin: auto;
    padding: 20px 35px;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: #fff;
  }
}